body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.wrap .container {
  width: auto;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}
.wrap .container .box {
  display: block;
  width: 2000px;
  height: 100vh;
}
.b1 {
  background-color: #f00;
}
.b2 {
  background-color: #fc0;
}
.b3 {
  background-color: #cf0;
}
.b4 {
  background-color: #f0f;
}